/* CUSTOM RDJs */
#chat [data-cid^="17217418-"] .msg .from .un,
#chat [data-cid^="6530408-"] .msg .from .un,
#chat [data-cid^="16994660-"] .msg .from .un,
#chat [data-cid^="14918489-"] .msg .from .un,
#chat [data-cid^="3468097-"] .msg .from .un,
#chat [data-cid^="4236313-"] .msg .from .un,
#chat [data-cid^="20051790-"] .msg .from .un,
#chat [data-cid^="5281759-"] .msg .from .un,
#chat [data-cid^="9303556-"] .msg .from .un,
#chat [data-cid^="16715150-"] .msg .from .un,
#chat [data-cid^="17779590-"] .msg .from .un,
#chat [data-cid^="4024813-"] .msg .from .un,
#chat [data-cid^="17618298-"] .msg .from .un,
#chat [data-cid^="4774047-"] .msg .from .un,
#chat [data-cid^="4627982-"] .msg .from .un,
#chat [data-cid^="5005391-"] .msg .from .un,
#chat [data-cid^="5462424-"] .msg .from .un,
#chat [data-cid^="4036825-"] .msg .from .un,
#chat [data-cid^="3424522-"] .msg .from .un,
#chat [data-cid^="15260416-"] .msg .from .un,
#chat [data-cid^="14935155-"] .msg .from .un,
#chat [data-cid^="4866227-"] .msg .from .un,
#chat [data-cid^="3862893-"] .msg .from .un,
#chat [data-cid^="6603548-"] .msg .from .un {
    color: #89BE6C;
}

[data-cid^="17217418-"] .msg .from .un,
[data-cid^="6530408-"] .msg .from .un,
[data-cid^="16994660-"] .msg .from .un,
[data-cid^="14918489-"] .msg .from .un,
[data-cid^="3468097-"] .msg .from .un,
[data-cid^="4236313-"] .msg .from .un,
[data-cid^="20051790-"] .msg .from .un,
[data-cid^="5281759-"] .msg .from .un,
[data-cid^="9303556-"] .msg .from .un,
[data-cid^="16715150-"] .msg .from .un,
[data-cid^="17779590-"] .msg .from .un,
[data-cid^="4024813-"] .msg .from .un,
[data-cid^="17618298-"] .msg .from .un,
[data-cid^="4774047-"] .msg .from .un,
[data-cid^="4627982-"] .msg .from .un,
[data-cid^="5005391-"] .msg .from .un,
[data-cid^="5462424-"] .msg .from .un,
[data-cid^="4036825-"] .msg .from .un,
[data-cid^="3424522-"] .msg .from .un,
[data-cid^="15260416-"] .msg .from .un,
[data-cid^="14935155-"] .msg .from .un,
[data-cid^="4866227-"] .msg .from .un,
[data-cid^="3862893-"] .msg .from .un,
[data-cid^="6603548-"] .msg .from .un {
    background-image: url('https://chilloutmusica.github.io/cm/src/icons/rdj.png');
    background-repeat: no-repeat;
    background-size: 15px auto;
    background-position: -1px center;
    position: relative;
    left:-3px;
    padding-left: 15px;
}