/* CUSTOM RDJs */
#chat #chat-messages .fromID-16715150 .un,
#chat #chat-messages .id-16715150 .un,
#chat #chat-messages .fromID-17779590 .un,
#chat #chat-messages .id-17779590 .un,
#chat #chat-messages .fromID-4024813 .un,
#chat #chat-messages .id-4024813 .un,
#chat #chat-messages .fromID-17618298 .un,
#chat #chat-messages .id-17618298 .un,
#chat #chat-messages .fromID-4774047 .un,
#chat #chat-messages .id-4774047 .un,
#chat #chat-messages .fromID-4627982 .un,
#chat #chat-messages .id-4627982 .un,
#chat #chat-messages .fromID-5005391 .un,
#chat #chat-messages .id-5005391 .un,
#chat #chat-messages .fromID-5462424 .un,
#chat #chat-messages .id-5462424 .un,
#chat #chat-messages .fromID-4036825 .un,
#chat #chat-messages .id-4036825 .un,
#chat #chat-messages .fromID-3424522 .un,
#chat #chat-messages .id-3424522 .un,
#chat #chat-messages .fromID-15260416 .un,
#chat #chat-messages .id-15260416 .un,
#chat #chat-messages .fromID-14935155 .un,
#chat #chat-messages .id-14935155 .un,
#chat #chat-messages .fromID-4866227 .un,
#chat #chat-messages .id-4866227 .un,
#chat #chat-messages .fromID-3862893 .un,
#chat #chat-messages .id-3862893 .un,
#chat #chat-messages .fromID-6603548 .un,
#chat #chat-messages .id-6603548 .un {
    color: #89BE6C;
}
#chat #chat-messages .fromID-16715150 .from:before,
#chat #chat-messages :not(.rsshit).id-16715150 .from:before,
#chat #chat-messages .fromID-17779590 .from:before,
#chat #chat-messages :not(.rsshit).id-17779590 .from:before,
#chat #chat-messages .fromID-4024813 .from:before,
#chat #chat-messages :not(.rsshit).id-4024813 .from:before,
#chat #chat-messages .fromID-17618298 .from:before,
#chat #chat-messages :not(.rsshit).id-17618298 .from:before,
#chat #chat-messages .fromID-4774047 .from:before,
#chat #chat-messages :not(.rsshit).id-4774047 .from:before,
#chat #chat-messages .fromID-4627982 .from:before,
#chat #chat-messages :not(.rsshit).id-4627982 .from:before,
#chat #chat-messages .fromID-5005391 .from:before,
#chat #chat-messages :not(.rsshit).id-5005391 .from:before,
#chat #chat-messages .fromID-5462424 .from:before,
#chat #chat-messages :not(.rsshit).id-5462424 .from:before,
#chat #chat-messages .fromID-4036825 .from:before,
#chat #chat-messages :not(.rsshit).id-4036825 .from:before,
#chat #chat-messages .fromID-3424522 .from:before,
#chat #chat-messages :not(.rsshit).id-3424522 .from:before,
#chat #chat-messages .fromID-15260416 .from:before,
#chat #chat-messages :not(.rsshit).id-15260416 .from:before,
#chat #chat-messages .fromID-14935155 .from:before,
#chat #chat-messages :not(.rsshit).id-14935155 .from:before,
#chat #chat-messages .fromID-4866227 .from:before,
#chat #chat-messages :not(.rsshit).id-4866227 .from:before,
#chat #chat-messages .fromID-3862893 .from:before,
#chat #chat-messages :not(.rsshit).id-3862893 .from:before,
#chat #chat-messages .fromID-6603548 .from:before,
#chat #chat-messages :not(.rsshit).id-6603548 .from:before {
    content: " "url("https://chilloutmusica.github.io/cm/assets/icons/rdj.png") !important;
    top: 3px;
    position: relative;
}
#chat #chat-messages .fromID-10587451 .un,
#chat #chat-messages .id-10587451 .un,
#chat #chat-messages .fromID-4538423 .un,
#chat #chat-messages .id-4538423 .un,
#chat #chat-messages .fromID-3806818 .un,
#chat #chat-messages .id-3806818 .un {
    color: #fff!important;
    text-shadow: 1px 1px 0 #000;
}
